{% extends "boring/base.html" %}
{% block content %}
<div class="container">
	<div class="row" style="margin-top:0.4vh">
		<div class="col m4 s12 offset-m4">
			<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 320 100"><text font-weight="bold" font-family="Arvo,sans-serif" font-size="85" y="80" x="30">Boring</text></svg>
		</div>
	</div>
	<div class="row" style="margin-top:30px">
		<div class="col m8 s12 offset-m2">
			{% include "boring/search.html" %}
		</div>
	</div>
</div>
{% endblock %}

